html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    color: #504f4f;
    font-family: Noto Sans!important;
    background-color: white!important;
}

img{
    width: 100%;
}

.container{
    width: 90%;
    max-width: 900;
    margin: 0 auto;
}

.flex{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.gotopbtn{
    position: fixed;
    width: 50px;
    height: 50px;
    background: #08073A;
    bottom: 100px;
    right: 30px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 22px;
}

.wapo{
    width: 50px;;
}
.hqtxZK {
    height: 50px!important;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 12px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    position: relative;
    background-color: rgb(0, 0, 0)!important;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
    width: 50px!important;
    border-radius: 50%;
    outline: transparent;
}
/* ****NAVIGATION START*** */

.search{
    background-color: #f8f9fa!important;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    text-align: center;
    font-size: 12px;
}


.navbar ul li{
    margin-left: 1.5em;;
}

.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.5);
    border-color: rgba(0,0,0,.1);
    font-size: 1rem!important;
}

.image{
    height: 45vh;
}

/* NAVIGATION TYPOGRAPHY */
.carousel-caption{
    top: 25%;
    text-align: left;
}

.carousel-caption h5{
    text-transform: uppercase;
    color: rgba(8, 7, 58, 0.75);
    font-family: Noto Sans;
    line-height: 28px;
    font-size: 1.5rem;
}

.carousel-caption p{
    font-size: .75rem;
}

.carousel-caption button{
    background: white;
    border-radius: 0;
    color: rgba(8, 7, 58, 0.75);
    font-size: .75rem;
}
.carousel-caption button:hover{
    background: #08073A;
    color: white;
}

/* ****NAVIGATION ENDS**** */

/* ****LAYOUT START**** */
.services{
    margin-top: 3em;
}

.services h1{
    text-align: center;
    color: #08073A;
    font-weight: 700;
    font-size: 1.8rem;
}

.service-items{
    margin-top: 1.5em;
    font-size: .75rem;
    font-weight: 500;
    text-align: left;
}

.service-item-card{
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 2em;
}

.service-item-card p{
    padding: 1em;
    padding-bottom: 0;
}

.service-item-card a{
    color: #504f4f;
}

.products{
    margin-top: 3em!important;
}

.products .products-image{
    width: 50px;
    height: 50px;
    padding: 4px;
    position: relative;
    top: 70px;
    left: -20px;
}

.products h1{
    color: #08073A;
    font-size: 1.8rem;
    text-align: center;
    font-weight: 700;
}

.products h3{
    color: #08073A;
    font-size: 1.2rem;
}

.products p{
    font-size: 12px;
}

.product-item{
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1); 
    margin-top: 2em;
}

.product-text{
    padding: 10px;
    padding-left: 40px;
    margin-top: -1.5em;
}

.comprehensive-all{
    margin-top: 2em;
}

.comprehensive{
    margin-top: 3em;
    text-align: center;
    background: rgba(196, 196, 196, 0.2);
    padding: 1em;
    padding-bottom: 1em;
}

.comprehensive-text{
    font-size: 2rem;
    margin-bottom: 1.5em;
}

.comprehensive-text img{
    width: 60px;
    height: 60px;
}

.comprehensive h1{
    font-size: 1.5rem;
    color: #08073A;
    font-weight: 700;
}

.comprehensive h3{
    font-size: 1.3rem;
    color: #08073A;
}

.comprehensive p{
    font-size: 1rem;
}

.contact{
    margin-top: 4em;
    background: rgba(196, 196, 196, 0.2);
    padding-top: 5em;
    padding-bottom: 6em;
}

.contact h1{
    color: #08073A;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 700;
}

.contact p{
    font-size: .75rem;
    text-align: center;
}

.contact button{
    background: #08073A;
    color: white;
    float: right;
}

.footer{
    background: #08073A;
    margin-top: 6em;
    color: white;
    padding-top: 2em;
    padding-bottom: 3.5em;
}

.footer h1{
    font-size: 1.2rem;
    font-weight: 600;
}

.footer ul{
    list-style-type: none;
    font-size: 15px;
}
.footter ul li a:hover{
    text-decoration: none!important;
}

.footer a{
    color:white;
}

.footer p{
    font-size: 15px;
}

.footer-last{
    margin-top: 2em;
}
.footer-last p{
    padding: 0;
    margin: 0;
    font-size: .70rem;
    text-align: center;
}



/* TESTIMONIAL */

.shadow-effect {
    background: #fff;
    padding: 20px;
    border-radius: 4px;
    text-align: center;
    border:1px solid #ECECEC;
    box-shadow: 0 19px 38px rgba(0,0,0,0.10), 0 15px 12px rgba(0,0,0,0.02);
}
#customers-testimonials .shadow-effect p {
    font-family: inherit;
    font-size: 17px;
    line-height: 1.5;
    margin: 0 0 17px 0;
    font-weight: 300;
}
.testimonial-name {
    margin: -17px auto 0;
    display: table;
    width: auto;
    background: #3190E7;
    padding: 9px 35px;
    border-radius: 12px;
    text-align: center;
    color: #fff;
    box-shadow: 0 9px 18px rgba(0,0,0,0.12), 0 5px 7px rgba(0,0,0,0.05);
}
#customers-testimonials .item {
    text-align: center;
    padding: 50px;
    margin-bottom:80px;
    opacity: .2;
    -webkit-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
#customers-testimonials .owl-item.active.center .item {
    opacity: 1;
    -webkit-transform: scale3d(1.0, 1.0, 1);
    transform: scale3d(1.0, 1.0, 1);
}
#customers-testimonials.owl-carousel .owl-dots .owl-dot.active span,
#customers-testimonials.owl-carousel .owl-dots .owl-dot:hover span {
    background: #3190E7;
    transform: translate3d(0px, -50%, 0px) scale(0.7);
}
#customers-testimonials.owl-carousel .owl-dots{
    display: inline-block;
    width: 100%;
    text-align: center;
}
#customers-testimonials.owl-carousel .owl-dots .owl-dot{
    display: inline-block;
}
#customers-testimonials.owl-carousel .owl-dots .owl-dot span {
    background: #3190E7;
    display: inline-block;
    height: 20px;
    margin: 0 2px 5px;
    transform: translate3d(0px, -50%, 0px) scale(0.3);
    transform-origin: 50% 50% 0;
    transition: all 250ms ease-out 0s;
    width: 20px;
}









.testimonial{
    margin-top: 6em;
}

.testimonial h4{
    font-size: 30px;
    font-weight: 600;
    color: #08073A;
}

.card {
    box-shadow: 0px 4px 8px 0px #BDBDBD;
    background: #d4d4d4;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
    background: 0 0;
    color: #08073A !important;
    border: none;
    padding: 5px 20px !important;
    font: inherit;
    font-size: 50px !important
}

.owl-carousel .owl-nav button.owl-next:hover,
.owl-carousel .owl-nav button.owl-prev:hover {
    color: #08073A !important;
    background-color: transparent !important
}

.owl-dots {
    display: none
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0
}

.item {
    display: none
}

.next {
    display: block !important;
    position: relative;
    transform: scale(0.8);
    transition-duration: 0.3s;
    opacity: 0.6
}

.prev {
    display: block !important;
    position: relative;
    transform: scale(0.8);
    transition-duration: 0.3s;
    opacity: 0.6
}

.item.show {
    display: block;
    transition-duration: 0.4s
}

@media screen and (max-width: 999px) {

    .next,
    .prev {
        transform: scale(1);
        opacity: 1
    }

    .item {
        display: block !important
    }
}

/* TESTIMONIAL END */


/* PRODUCT PAGE */
.products-page{
    margin-top: 3em;
}
.products-page h3{
    color: #08073A;
    margin-left: -1.2em;
    font-size: 1.3rem;
    text-decoration: underline;
}
.page-aside{
    border: 1px solid #BDBDBD;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    width: 80%;
    padding-top: 1em;
    margin: 0 auto;
    margin-bottom: 2em;
}
.products-page-aside ul li{
    list-style: none;
    line-height: 50px;
    border-bottom: 1px solid #BDBDBD;
    margin-right: 3em;
}

.products-page-aside a{
    color: #504f4f;
    font-size: 15px;
}
.products-page-aside a:hover{
    color: #08073A;
}

.products-page-main img{
    width: 100px;
    height: 100px;
}


.product-interest{
    background: rgba(196, 196, 196, 0.1);
    margin-top: 3em;
    padding-top: 2em;
}
.product-interest h1{
    font-size: 1.5rem;
    color: #08073A;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 1em;
}
.product-interest-image img{
    width: 100%;
    height: 250px;
    margin-bottom: 1em;
}
.product-interest-image img:hover{
    box-shadow: 0px 4px 4px rgba(15, 13, 98, 0.5);
}

.product-interest-text{
    margin-top: 3em;
}

.form{
    display: inline-block;
}

.form-bg{
    border: 1px solid #08073a8f;
    padding: .75em;
    padding-bottom: 3.5em;
}

.form-bg h3{
    font-size: 1.3rem;
    color: #08073A;
    font-weight: 700;
    text-decoration: underline;
    margin-top: .50rem;
    padding-bottom: .75em;
}

.form-bg button{
    background: #08073A;
    color: white;
    float: right;
}

.product-in{
    margin-top: 2em;
}

.product-in h1{
    font-size: 2rem;
    font-weight: 700;
    color: #08073A;
    margin-bottom: .50em;
}

.product-in-aside img{
    margin: 0 auto;
    width: 200px;
    height: 200px;
    margin-bottom: 3em;
}

.products-page-main a{
    color: #504f4f;
}


.text_change{
    text-decoration: underline;
    color: #08073A;
    font-weight: 700;
    font-size: 1.2rem;
}

.about h1{
    font-size: 1.5rem;
    font-weight: 700;
    color: #08073A;
    margin-top: 3em;
    margin-bottom: 1.5em;
}
.about img{
    margin-top: 1em;
}

.foot li{
    margin-left: -2.2em;
}

.footer-icons{
    margin-top: 1em;
    margin-left: 35%;
    width: 15px;
    height: 15px;
    flex-direction: row;
}



/* ****LAYOUT ENDS**** */


@media (min-width:992px){
    .navbar ul li{
        font-size: 14px;
    }
    .carousel-caption{
        top: 30%;
        text-align: left;
    }
    
    .carousel-caption h5{
        text-transform: uppercase;
        color: rgba(8, 7, 58, 0.75);
        font-family: Noto Sans;
        font-size: 35px;
    }
    .carousel-caption .h{
        font-size: 30px;
    }
    .carousel-caption p{
        font-size: 20px;
        margin-top: .75em;
    }
    
    .carousel-caption button{
        background: white;
        border-radius: 0;
        color: rgba(8, 7, 58, 0.75);
        font-size: 16px;
        margin-top: 1em;
        font-weight: 700;
    }
    
    .image{
        height: 80vh;
    }
    .services{
        margin-top: 6em;
    }
    .services h1{
        font-size: 30px;
        font-weight: 600;
    }
    .product-container{
        width: 70%;
        margin: 0 auto;
    }
    .service-items{
        margin-top: 5em;
    }
    .service-items p{
        font-size: 12px;
        font-weight: 700;
        padding: .50em;
    }
    .ser-1{
        flex-direction: row;
    }
    .ser-2{
        flex-direction: row;
    }

    .products{
        max-width: 100%;
    }
    .products h1{
        font-size: 30px;
        font-weight: 600;
        margin-top: 2em;
    }
    .products h3{
        font-size: 16px;
        font-weight: 700;
    }
    .products p{
        font-size: 12px;
        font-weight: 600;
    }
    .prod-1{
        flex-direction: row;
    }
    .prod-2{
        flex-direction: row;
    }
    .product-item{
        width: 45%;
    }
    .products .products-image{
        top: 65px;
    }
    
    .comprehensive{
        margin-top: 6em;
        padding-top: 7em;
    }
    .comprehensive h1{
        font-size: 30px;
        font-weight: 600;
    }
    .comprehensive h3{
        font-size: 18px;
        font-weight: 500;
    }
    .comprehensive p{
        font-size: 16px;
        font-weight: normal;
    }
    .comprehensive-all{
        flex-direction: row;
        margin-top: 5em;
        margin-bottom: 3em;
    }
    .comprehensive-text i{
        font-size: 4rem;
        margin-bottom: 1rem;
    }
    
    .contact{
        margin-top: 6em;
    }
    .contact h1{
        font-size: 30px;
        font-weight: 600;
    }
    .contact p{
        font-size: 16px;
        font-weight: 300;
    }
    .contact label{
        font-size: 16px;
        font-weight: normal;
    }
    .contact form{
        width: 70%;
        margin: 0 auto;
        margin-top: 3em;
    }


    .container1{
        width: 75%;
        margin: 0 auto;
    }
    .footer{
        margin-top: 10em;
        padding-top: 4em;
        padding-bottom: 3.5em;
    }
    .footer h1{
        font-size: 25px;
        font-weight: 600;
    }
    .footer p{
        font-size: 15px;
        font-weight: 300;
    }
    .foot{
        flex-direction: row;
    }
    .foot-1{
        width: 20%;
    }
    .foot-2{
        width: 40%;
        text-align: center;
    }
    .foot-3{
        width: 25%;
        text-align: center;
    }
    .foot-link li{
        margin-bottom: 1.7em;
        font-size: 15px;
        font-weight: 300;
    }
    .footer-last{
        flex-direction: row;
        margin-top: -.50em;
    }
    .footer-last p{
        font-size: 15px;
        color: rgba(255, 255, 255, 0.582);
    }
    .footso{
        margin-right: 2em;
    }
    .footer-icons{
        margin-left: 25%;
    }



    /* product page */
    .products-page{
        flex-direction: row;
    }
    .products-page-aside{
        width: 40%;
    }
    .products-page-main{
        width: 60%;
    }
    .page-main{
        flex-direction: row;
    }
    .product-1 img{
        width: 130px;
        height: 130px;
    }
    .product-1{
        width: 40%;
        margin: 0 auto;
        margin-top: .75em;
    }
    .product-2{
        width: 40%;
        margin: 0 auto;
        margin-top: 1em;
    }
    .product-4{
        width: 45%;
        margin-top: 1em;
    }

    .product-interest-image img{
        max-width: 60%;
        height: 200px;
        margin-bottom: 1em;
    }


    .form-bg{
        width:40%;
        margin-left: 2.2em;
        margin-top: -13em;
        padding: 2em;
        padding-bottom: 3.5em;
    }
    .form-group{
        flex-direction: row;
    }
    .group1 label{
        width: 45%;
    }
    .group1 input{
        width: 55%;
    }
    .group1 textarea{
        width: 55%;
    }

    .product-in{
        flex-direction: row;
        margin: 3em;
    }

    .product-in-main{
        width: 50%;
        margin-left: 3.2em;
    }
    .product-in-aside{
        width: 45%;
    }
    .product-in-aside img{
        margin-top: 5em;
        margin-bottom: 1em;
        width: 300px;
        height: 300px;
    }
    .service-item-card p{
        padding: 1em;
        margin: 0;
    }

    .about img{
        width: 50%;
    }
    .cstyle ul li a{
        color: rgb(141, 141, 137)!important;
        font-size: 14px!important;
    }
    .down{
        float: right;
        margin-top: 1em;
    }
}

.img-gradient:after {
    content:'';
    position:absolute;
    left:0; top:0;
    width:100%; height:100%;
    display:inline-block;
    /* background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%); FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(248, 248, 248, 0.705)), color-stop(100%,rgba(253, 253, 253, 0))); /* Chrome,Safari4+ */
    /* background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.5) 0%,rgba(255, 255, 255, 0.5) 100%); Chrome10+,Safari5.1+ */
    /* background: -o-linear-gradient(top, rgba(255, 255, 255, 0.5) 0%,rgba(255, 255, 255, 0.5) 100%); Opera 11.10+ */
    /* background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.5) 0%,rgba(255, 255, 255, 0.5) 100%); IE10+ */
    /* background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%,rgba(255, 255, 255, 0.5) 100%); W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002f4b', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}
