{% extends 'layout.html' %}
{% block content %}
<section class="container about">
    <h1>ABOUT US</h1>
    <div> 
        <p>Pendalton Integrated Services Ltd Is an indigenous company founded in 2006 and has grown into a leading electronic security engineering company, renowned for its professionalism in handling security surveillance for individuals, and corporate bodies.</p>
        <p>Our reputation of installing successful security surveillance system for multinational companies as well as individuals, rate us amongst the best in the area of security management services.</p>
        <p>We have achieved this preferred standing services because; we understand our clients’ needs and constantly develop unique and exciting solutions that allow us to consistently exceed expectations.</p>
        <p>Pendalton Integrated Services Ltd is committed to the highest standards of service. We believe that security is a serious task and an important responsibility. The best security deploys adaptable solutions to address dynamic challenges and to counter reasonably foreseeable risks.</p>
        <p>Today, we have emerged as one of the Industry's leaders in the area of electronics security engineering management services.</p>
        <p>Our unparalleled success is built on commitment to deliver top-notch services in security in the area of:</p>
        <ul>
            <li>CCTV Surveillance</li>
            <li>Fire/Burglary Alarm</li>
            <li>PABX/Intercom</li>
            <li>Access Control & Biometric Automation Solutions</li>
            <li>Computers and Data Networking</li>
            <li>Electronic Gates & Barriers</li>
        </ul>
    </div>
    <img src="../static/images/image 156.png" alt="">
</section>
{% endblock content %}