{% extends 'layout.html' %}
{% block content %}

<section class="container products-page flex">
    <aside class="products-page-aside">
        <div class="page-aside latest">
            <ul>
                <li>
                    <a class="" data-toggle="collapse" href="#collapseExample" role="button"
                        aria-expanded="false" aria-controls="collapseExample">CCTV Products <i
                            class="fas fa-angle-down down"></i> </a>
                </li>
                <div class="collapse cstyle" id="collapseExample">
                    <ul>
                        <li> <a href="{{ url_for('products') }}"><strong> Hikvision </strong></a></li>
                        <li> <a href="{{ url_for('CCTV_AnalogCameras') }}"> Hd Analog/Ip Cameras </a></li>
                        <li> <a href="{{ url_for('CCTV_CovertCameras') }}">Covert Cameras</a></li>
                        <li> <a href="{{ url_for('CCTV_DVRS') }}">DVRs</a></li>
                    </ul>
                </div>
                <li><a href="{{ url_for('Pabx_intercom') }}">PABX/Intercom</a></li>
                <li><a href="{{ url_for('Access_Control') }}">Access Control</a></li>
                <li><a href="{{ url_for('Fire_Alarm') }}">Fire / Burglary Alarm</a></li>
                <li><a href="{{ url_for('Inverter_SolarSystem') }}">Inverter & Solar System</a></li>
                <li class="text_change"><a href="{{ url_for('Permitter') }}">Permitter Fencing</a></li>
            </ul>
        </div>
    </aside>
    <div class="products-page-main">
        <div class="page-main flex">
            <div class="product-1">
                <a href="{{ url_for('product_inquiry') }}">
                    <img src="../static/images/image 200.png" alt="">
                </a>
            </div>
            <div class="product-1">
                <a href="{{ url_for('product_inquiry') }}">
                    <img src="../static/images/image 53.png" alt="">
                </a>
            </div>
        </div>
        <div class="page-main flex">
            <div class="product-1">
                <a href="{{ url_for('product_inquiry') }}">
                    <img src="../static/images/image 52.png" alt="">
                </a>
            </div>
            <div class="product-1">
                <a href="{{ url_for('product_inquiry') }}">
                    <img src="../static/images/image 54.png" alt="">
                </a>
            </div>
        </div>
        <div class="page-main flex">
            <div class="product-1">
                <a href="{{ url_for('product_inquiry') }}">
                    <img src="../static/images/image 204.png" alt="">
                </a>
            </div>
        </div>
    </div>
</section>


<section class="product-interest">
    <div class="container">
        <h1>Products you might be interest in</h1>
        <div class="product-interest-image flex">
            <div class="owl-carousel owl-theme owl-loaded">
                <div class="owlcar">
                    <div class="owl-stage-outer">
                        <div class="owl-stage product-interest-image">
                            <div class="owl-item"><img src="../static/images/image 54.png" alt=""></div>
                            <div class="owl-item"><img src="../static/images/image 66.png" alt=""></div>
                            <div class="owl-item"><img src="../static/images/image 30.png" alt=""></div>
                        </div>
                    </div>
                    <div class="owl-nav">
                        <div class="owl-prev"></div>
                        <div class="owl-next"></div>
                    </div>
                    <div class="owl-dots">
                        <div class="owl-dot active"><span></span></div>
                        <div class="owl-dot"><span></span></div>
                        <div class="owl-dot"><span></span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container product-interest-text">
    <p>
        This is to control unauthorized movement and restrict entrance into restricted areas. For instance, Your Offices, Finance Departments or Cash Office, I.T Department, Fuel Dump, Car Parks and Garages, Government Secretariat, Stores and Warehouses, Government House complex.
    </p>
    <p>
        Our Bio-Metric Integrated System will equally expose definitive finger Prints of any Suspects or Persons on identification by the device.
    </p>
    <p>
        The Access Control central station manages all controlled doors in it network and connects up to 64 doors / Readers, inputs monitors and output control interfaces via two independent RS-485 networks.
    </p>
    <p>
        It stores a complete access control and configuration database for up to 64 Readers / Doors and 44,000 card Holders with expansion capability up to 250,000 card Holders.
    </p>
    <p>
        It connects to the host and other devices on a TCP/IP network, receives and processes real time commands from the host software application. Reports all activities to the host control and communicates with all connected devices.
    </p>
    <p>Please take note that where certain offices are left out of the system’s protection - a complete and total protection may not be said to have been achieved, person of bad intention may use the unprotected office(s) to deploy their various activities, which would affect the protected offices in the organization.</p>
</section>
{% endblock content %}