{% extends 'layout.html' %}
{% block content %}

<section class="container products-page flex">
    <aside class="products-page-aside">
        <div class="page-aside">
            <ul>
                <h3>CCTV PRODUCTS</h3>
                <li> <a href="{{ url_for('products') }}">Hikvision</a></li>
                <li> <a href="{{ url_for('CCTV_AnalogCameras') }}"> Hd Analog Cameras </a></li>
                <li> <a href="{{ url_for('CCTV_IpCameras') }}">Ip Cameras</a></li>
                <li> <a href="{{ url_for('CCTV_CovertCameras') }}">Covert Cameras</a></li>
                <li> <a href="{{ url_for('CCTV_DVRS') }}"><strong> DVRs </strong></a></li>
            </ul>
        </div>
    </aside>
    <div class="products-page-main">
        <div class="page-main flex">
            <div class="product-1">
                <a href="{{ url_for('product_inquiry') }}">
                    <img src="../static/images/image 291.png" alt="">
                    <p>Hikvision 4 CH TURBO 1080P DVR (1HDD)DS-7204HQHI-K1</p>
                </a>
            </div>
            <div class="product-2">
                <a href="{{ url_for('product_inquiry') }}">
                    <img src="../static/images/image 301.png" alt="">
                    <p>Hikvision 8CH TURBO DVR DS-7208HUHI-F1</p>
                </a>
            </div>
            <div class="product-3">
                <a href="{{ url_for('product_inquiry') }}">
                    <img src="../static/images/image 31.png" alt="">
                    <p>HikVision 16 CH DVR 7300 Series – Turbo 1080P – 2 HDD</p>
                </a>
            </div>
            <div class="product-4">
                <a href="{{ url_for('product_inquiry') }}">
                    <img src="../static/images/image 159.png" alt="">
                    <p>Hikvision 4 CH TURBO 720P DVR ( 1 HDD) DS-7204HGHI-F1</p>
                </a>
            </div>
        </div>
        <div class="page-main flex">
            <div class="product-4">
                <a href="{{ url_for('product_inquiry') }}">
                    <img src="../static/images/image 160.png" alt="">
                    <p>Hikvision 32ch DVR DS-7332HQHI-K4</p>
                </a>
            </div>
            <div class="product-4">
                <a href="{{ url_for('product_inquiry') }}">
                    <img src="../static/images/image 32.png" alt="">
                    <p>Hikvision 4 CH TURBO 720P DVR ( 1 HDD) DS-7204HGHI-F1</p>
                </a>
            </div>
            <div class="product-4">
                <a href="{{ url_for('product_inquiry') }}">
                    <img src="../static/images/image 33.png" alt="">
                    <p>Hikvision 16ch DVR DS-7116HGHI-F1</p>
                </a>
            </div>
            <div class="product-4">
                <a href="{{ url_for('product_inquiry') }}">
                    <img src="../static/images/image 34.png" alt="">
                    <p>Hikvision 8CH TURBO DVR DS-7208HUHI-F1</p>
                </a>
            </div>
        </div>
        <div class="page-main flex">
            <div class="product-4">
                <a href="{{ url_for('product_inquiry') }}">
                    <img src="../static/images/image 35.png" alt="">
                    <p>Hikvision DS-7216HQHI-K1 (S) turbo Hd DVR with 16ch audio</p>
                </a>
            </div>
            <div class="product-4">
                <a href="{{ url_for('product_inquiry') }}">
                    <img src="../static/images/image 36.png" alt="">
                    <p>Hikvision DS-7216HQHI-K1 (S) turbo Hd DVR with 16ch audio</p>
                </a>
            </div>
            <div class="product-4">
                <a href="{{ url_for('product_inquiry') }}">
                    <img src="../static/images/image 37.png" alt="">
                    <p>Hikvision 8 CH POC DVR- DS-7208HQHI-K2</p>
                </a>
            </div>
            <div class="product-4">
                <a href="{{ url_for('product_inquiry') }}">
                    <img src="../static/images/image 161.png" alt="">
                    <p>HikVision 16 CH DVR 7300 Series – Turbo 1080P – 2 HDD
                    </p>
                </a>
            </div>
        </div>
        <div class="page-main flex">
            <div class="product-4">
                <a href="{{ url_for('product_inquiry') }}">
                    <img src="../static/images/image 162.png" alt="">
                    <p>Hikvision DS-7208HGHI-F1 8 CH TURBO 720P DVR (1 HDD)</p>
                </a>
            </div>
            <div class="product-4">
                <a href="{{ url_for('product_inquiry') }}">
                    <img src="../static/images/image 40.png" alt="">
                    <p>Hikvision DS-2CE12DOT-PIRXF Turbo HD Bullet 
                        PIR Siren</p>
                </a>
            </div>
            <div class="product-4">
                <a href="{{ url_for('product_inquiry') }}">
                    <img src="../static/images/image 39.png" alt="">
                    <p>Hikvision DS-7616NI-Q1 /8P 16CH NVR 8POE ( 1SATA)</p>
                </a>
            </div>
            <div class="product-4">
                <a href="{{ url_for('product_inquiry') }}">
                    <img src="../static/images/image 38.png" alt="">
                    <p>Hikvision 32CH DVR 7300 SERIES TURBO 1080P (4 HDD)DS-7332HGHI-SH</p>
                </a>
            </div>
        </div>
    </div>
</section>


<section class="product-interest">
    <div class="container">
        <h1>Products you might be interest in</h1>
        <div class="product-interest-image flex">
            <div class="owl-carousel owl-theme owl-loaded">
                <div class="owl-stage-outer">
                    <div class="owl-stage product-interest-image">
                        <div class="owl-item"><img src="../static/images/image 17.png" alt=""></div>
                        <div class="owl-item"><img src="../static/images/image 66.png" alt=""></div>
                        <div class="owl-item"><img src="../static/images/image 30.png" alt=""></div>
                        <div class="owl-item"><img src="../static/images/image 17.png" alt=""></div>
                    </div>
                </div>
                <div class="owl-nav">
                    <div class="owl-prev"></div>
                    <div class="owl-next"></div>
                </div>
                <div class="owl-dots">
                    <div class="owl-dot active"><span></span></div>
                    <div class="owl-dot"><span></span></div>
                    <div class="owl-dot"><span></span></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container product-interest-text">
    <p>
        CCTV has grown intensely over the last few years due to the helpful impact that it has had on both public and
        business organizations.
    </p>
    <p>
        Apart from CCTV installation Pendalton Integrated Services Limited, have now moved to both sales of CCTV
        products and maintenance's. We also now work extensively with IP CCTV cameras and CCTV mobile surveillance. We
        offer a variety of services from supplies and CCTV installation to repairs of CCTV systems nationwide.
    </p>
    <p>
        Our team are trained to a high standard and are able to provide CCTV installations, repairs and maintenance to
        many brands of CCTV systems; providing low cost solutions for any upgrades or repairs to faulty systems.
        Pendalton Integrated Services Limited complete a full CCTV maintenance check, ensuring that all CCTV cameras are
        cleaned and are functioning as they should.
    </p>
    <p>
        Here at Pendalton Integrated Services Limited we have created a recognized track record in providing a range of
        flexible, cost effective CCTV systems and solutions to address your specific security surveillance needs. Our
        trained team has many years experience within this industry; helping our customers to find the best security
        cameras and other CCTV gadgets to keep their premises secure.
    </p>
    <p>
        Our CCTV system can be viewed remotely anywhere in the world with your iPad, Laptop, iPhone, Android, etc
        We provide and also install CCTV systems to both commercial and domestic sectors throughout Nigeria.
    </p>
</section>
{% endblock content %}