{% extends 'layout.html' %}
{% block content %}

<section class="container products-page flex">
    <aside class="products-page-aside">
        <div class="page-aside">
            <ul>
                <h3>CCTV PRODUCTS</h3>
                <li> <a href="{{ url_for('products') }}">Hikvision</a></li>
                <li> <a href="{{ url_for('CCTV_AnalogCameras') }}"> Hd Analog Cameras </a></li>
                <li> <a href="{{ url_for('CCTV_IpCameras') }}"><strong> Ip Cameras </strong></a></li>
                <li> <a href="{{ url_for('CCTV_CovertCameras') }}">Covert Cameras</a></li>
                <li> <a href="{{ url_for('CCTV_DVRS') }}">DVRs</a></li>
            </ul>
        </div>
    </aside>
    <div class="products-page-main">
        <div class="page-main flex">
            <div class="product-1">
                <a href="{{ url_for('product_inquiry') }}">
                    <img src="../static/images/image 106.png" alt="">
                    <p>Hikvision NETWORK VARI FOCAL DOME CAMERA DS-</p>
                </a>
            </div>
            <div class="product-2">
                <a href="{{ url_for('product_inquiry') }}">
                    <img src="../static/images/image 105.png" alt="">
                    <p>Hikvision Speed dome 2 MP 20Xzoom 5 inch IP PTZ DS-</p>
                </a>
            </div>
            <div class="product-3">
                <a href="{{ url_for('product_inquiry') }}">
                    <img src="../static/images/image 107.png" alt="">
                    <p>Hikvision DS-2CD2T45FWD-I5 4MP IR Fixed Bullet Network Camera Black 4mm</p>
                </a>
            </div>
            <div class="product-4">
                <a href="{{ url_for('product_inquiry') }}">
                    <img src="../static/images/image 92.png" alt="">
                    <p>DS-2CD1023G0-I 2 MP IR Fixed Bullet Network Camera</p>
                </a>
            </div>
        </div>
        <div class="page-main flex">
            <div class="product-4">
                <a href="{{ url_for('product_inquiry') }}">
                    <img src="../static/images/image 99.png" alt="">
                    <p>Hikvision DS-2CD2347G1-LU 4 MP ColorVu Fixed Turret Network Camera 4mm</p>
                </a>
            </div>
            <div class="product-4">
                <a href="{{ url_for('product_inquiry') }}">
                    <img src="../static/images/image 97.png" alt="">
                    <p>Hikvision 1.3MP 20X Network IR PTZ Dome Camera DS-2DE4120IW-DE</p>
                </a>
            </div>
            <div class="product-4">
                <a href="{{ url_for('product_inquiry') }}">
                    <img src="../static/images/image 93.png" alt="">
                    <p>DS-2CD2043G0-I 4 MP IR Fixed Bullet Network Camera</p>
                </a>
            </div>
            <div class="product-4">
                <a href="{{ url_for('product_inquiry') }}">
                    <img src="../static/images/image 94.png" alt="">
                    <p>DS-2CD2422F-IW NETWORK NANNY CAMERA</p>
                </a>
            </div>
        </div>
        <div class="page-main flex">
            <div class="product-4">
                <a href="{{ url_for('product_inquiry') }}">
                    <img src="../static/images/image 101.png" alt="">
                    <p>Hikvision NETWORK EXIR BULLET CAMERA (2MP)DS-2CD2T22WD-I8</p>
                </a>
            </div>
            <div class="product-4">
                <a href="{{ url_for('product_inquiry') }}">
                    <img src="../static/images/image 100.png" alt="">
                    <p>HikVision IP Camera DS-2CD2042WD-I - 4MP, 120dB WDR</p>
                </a>
            </div>
            <div class="product-4">
                <a href="{{ url_for('product_inquiry') }}">
                    <img src="../static/images/image 96.png" alt="">
                    <p>Hikvision (4MP) NETWORK EXIR BULLET CAMERA DS-</p>
                </a>
            </div>
            <div class="product-4">
                <a href="{{ url_for('product_inquiry') }}">
                    <img src="../static/images/image 95.png" alt="">
                    <p>Hikvision (2MP,120dB WDR)NETWORK DOME CAMERA</p>
                </a>
            </div>
        </div>
        <div class="page-main flex">
            <div class="product-4">
                <a href="{{ url_for('product_inquiry') }}">
                    <img src="../static/images/image 103.png" alt="">
                    <p>Hikvision Speed dome 2 MP 20Xzoom 5 inch IP PTZ DS-</p>
                </a>
            </div>
            <div class="product-4">
                <a href="{{ url_for('product_inquiry') }}">
                    <img src="../static/images/image 102.png" alt="">
                    <p>Hikvision NETWORK VARI FOCAL DOME CAMERA DS-</p>
                </a>
            </div>
            <div class="product-4">
                <a href="{{ url_for('product_inquiry') }}">
                    <img src="../static/images/image 104.png" alt="">
                    <p>Hikvision Speed dome 2MP 20Xzoom 7 inch IP PTZ DS-2DE7220IW-AE</p>
                </a>
            </div>
            <div class="product-4">
                <a href="{{ url_for('product_inquiry') }}">
                    <img src="../static/images/image 108.png" alt="">
                    <p>Hikvision DS-2CD2045FWD-I 4 MP IR Fixed Bullet Network</p>
                </a>
            </div>
        </div>
    </div>
</section>


<section class="product-interest">
    <div class="container">
        <h1>Products you might be interest in</h1>
        <div class="product-interest-image flex">
            <div class="owl-carousel owl-theme owl-loaded">
                <div class="owl-stage-outer">
                    <div class="owl-stage product-interest-image">
                        <div class="owl-item"><img src="../static/images/image 17.png" alt=""></div>
                        <div class="owl-item"><img src="../static/images/image 66.png" alt=""></div>
                        <div class="owl-item"><img src="../static/images/image 30.png" alt=""></div>
                        <div class="owl-item"><img src="../static/images/image 17.png" alt=""></div>
                    </div>
                </div>
                <div class="owl-nav">
                    <div class="owl-prev"></div>
                    <div class="owl-next"></div>
                </div>
                <div class="owl-dots">
                    <div class="owl-dot active"><span></span></div>
                    <div class="owl-dot"><span></span></div>
                    <div class="owl-dot"><span></span></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container product-interest-text">
    <p>
        CCTV has grown intensely over the last few years due to the helpful impact that it has had on both public and
        business organizations.
    </p>
    <p>
        Apart from CCTV installation Pendalton Integrated Services Limited, have now moved to both sales of CCTV
        products and maintenance's. We also now work extensively with IP CCTV cameras and CCTV mobile surveillance. We
        offer a variety of services from supplies and CCTV installation to repairs of CCTV systems nationwide.
    </p>
    <p>
        Our team are trained to a high standard and are able to provide CCTV installations, repairs and maintenance to
        many brands of CCTV systems; providing low cost solutions for any upgrades or repairs to faulty systems.
        Pendalton Integrated Services Limited complete a full CCTV maintenance check, ensuring that all CCTV cameras are
        cleaned and are functioning as they should.
    </p>
    <p>
        Here at Pendalton Integrated Services Limited we have created a recognized track record in providing a range of
        flexible, cost effective CCTV systems and solutions to address your specific security surveillance needs. Our
        trained team has many years experience within this industry; helping our customers to find the best security
        cameras and other CCTV gadgets to keep their premises secure.
    </p>
    <p>
        Our CCTV system can be viewed remotely anywhere in the world with your iPad, Laptop, iPhone, Android, etc
        We provide and also install CCTV systems to both commercial and domestic sectors throughout Nigeria.
    </p>
</section>
{% endblock content %}