{% extends 'layout.html' %}
{% block content %}

<section class="container products-page flex">
    <aside class="products-page-aside">
        <div class="page-aside">
            <ul>
                <h3>CCTV PRODUCTS</h3>
                <li> <a href="{{ url_for('products') }}">Hikvision</a></li>
                <li> <a href="{{ url_for('CCTV_AnalogCameras') }}"><strong> Hd Analog Cameras </strong></a></li>
                <li> <a href="{{ url_for('CCTV_IpCameras') }}">Ip Cameras</a></li>
                <li> <a href="{{ url_for('CCTV_CovertCameras') }}">Covert Cameras</a></li>
                <li> <a href="{{ url_for('CCTV_DVRS') }}">DVRs</a></li>
            </ul>
        </div>
    </aside>
    <div class="products-page-main">
        <div class="page-main flex">
            <div class="product-1">
                <a href="{{ url_for('product_inquiry') }}">
                    <img src="../static/images/image 73.png" alt="">
                    <p>Hikvision SPEED DOME TURBO HD 720P 4 Inch PTZ CAMERA</p>
                </a>
            </div>
            <div class="product-2">
                <a href="{{ url_for('product_inquiry') }}">
                    <img src="../static/images/image 74.png" alt="">
                    <p>Hikvision DS-2CS54D7T-IRS 1080p Mini Dome camera</p>
                </a>
            </div>
            <div class="product-3">
                <a href="{{ url_for('product_inquiry') }}">
                    <img src="../static/images/image 25.png" alt="">
                    <p>Hikvision Turbo 1080p HD Vari Focal Dome 
                        Camera DS-</p>
                </a>
            </div>
            <div class="product-4">
                <a href="{{ url_for('product_inquiry') }}">
                    <img src="../static/images/image 76.png" alt="">
                    <p>Hikvision DS-2CE56D0T-IPF Turbo 1080p HD 2.8 mm Dome</p>
                </a>
            </div>
        </div>
        <div class="page-main flex">
            <div class="product-4">
                <a href="{{ url_for('product_inquiry') }}">
                    <img src="../static/images/image 77.png" alt="">
                    <p>Hikvision DS-2CE72DFT-F 2 MP Full Time Color Turret Camera</p>
                </a>
            </div>
            <div class="product-4">
                <a href="{{ url_for('product_inquiry') }}">
                    <img src="../static/images/image 80.png" alt="">
                    <p>Hikvision 3.6mm (720P) Turbo Bullet DS-2CE16C0T-IRP</p>
                </a>
            </div>
            <div class="product-4">
                <a href="{{ url_for('product_inquiry') }}">
                    <img src="../static/images/image 81.png" alt="">
                    <p>Hikvision 2MP Motorized Varifocal Dome Camera( DS-</p>
                </a>
            </div>
            <div class="product-4">
                <a href="{{ url_for('product_inquiry') }}">
                    <img src="../static/images/image 82.png" alt="">
                    <p>Hikvision HD1080P WDR Vandal Proof EXIR Dome Camera DS-</p>
                </a>
            </div>
        </div>
        <div class="page-main flex">
            <div class="product-1">
                <a href="{{ url_for('product_inquiry') }}">
                    <img src="../static/images/image 83.png" alt="">
                    <p> 2 Megapixel Full HD Outdoor Analog Varifocal</p>
                </a>
            </div>
            <div class="product-2">
                <a href="{{ url_for('product_inquiry') }}">
                    <img src="../static/images/image 84.png" alt="">
                    <p>2 Megapixel Full HD Analog Dome Camera</p>
                </a>
            </div>
            <div class="product-3">
                <a href="{{ url_for('product_inquiry') }}">
                    <img src="../static/images/image 85.png" alt="">
                    <p>4 Megapixel Full HD Outdoor Analog Dome Camera
                        DCS-F1614
                        </p>
                </a>
            </div>
            <div class="product-4">
                <a href="{{ url_for('product_inquiry') }}">
                    <img src="../static/images/image 78.png" alt="">
                    <p>Hikvision DS-2CC52H1T-FITS 5MP Fisheye Camera</p>
                </a>
            </div>
        </div>
        <div class="page-main flex">
            <div class="product-1">
                <a href="{{ url_for('product_inquiry') }}">
                    <img src="../static/images/image 79.png" alt="">
                    <p>Hikvision DS-2CC52C7-VPIR HD720P Vandal-Proof Dome</p>
                </a>
            </div>
            <div class="product-2">
                <a href="{{ url_for('product_inquiry') }}">
                    <img src="../static/images/image 86.png" alt="">
                    <p>Hikvision - Ds-2CD2122FWD-IWS 4mm, Camera Ip Dome Exterieure 2MP ...
                    </p>
                </a>
            </div>
            <div class="product-3">
                <a href="{{ url_for('product_inquiry') }}">
                    <img src="../static/images/image 87.png" alt="">
                    <p>Hick Vision 2 Mp Cctv Camera</p>
                </a>
            </div>
            <div class="product-4">
                <a href="{{ url_for('product_inquiry') }}">
                    <img src="../static/images/image 88.png" alt="">
                    <p>Hickvision Bullet Camera</p>
                </a>
            </div>
        </div>
    </div>
</section>


<section class="product-interest">
    <div class="container">
        <h1>Products you might be interest in</h1>
        <div class="product-interest-image flex">
            <div class="owl-carousel owl-theme owl-loaded">
                <div class="owl-stage-outer">
                    <div class="owl-stage product-interest-image">
                        <div class="owl-item"><img src="../static/images/image 17.png" alt=""></div>
                        <div class="owl-item"><img src="../static/images/image 66.png" alt=""></div>
                        <div class="owl-item"><img src="../static/images/image 30.png" alt=""></div>
                        <div class="owl-item"><img src="../static/images/image 17.png" alt=""></div>
                    </div>
                </div>
                <div class="owl-nav">
                    <div class="owl-prev"></div>
                    <div class="owl-next"></div>
                </div>
                <div class="owl-dots">
                    <div class="owl-dot active"><span></span></div>
                    <div class="owl-dot"><span></span></div>
                    <div class="owl-dot"><span></span></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container product-interest-text">
    <p>
        CCTV has grown intensely over the last few years due to the helpful impact that it has had on both public and
        business organizations.
    </p>
    <p>
        Apart from CCTV installation Pendalton Integrated Services Limited, have now moved to both sales of CCTV
        products and maintenance's. We also now work extensively with IP CCTV cameras and CCTV mobile surveillance. We
        offer a variety of services from supplies and CCTV installation to repairs of CCTV systems nationwide.
    </p>
    <p>
        Our team are trained to a high standard and are able to provide CCTV installations, repairs and maintenance to
        many brands of CCTV systems; providing low cost solutions for any upgrades or repairs to faulty systems.
        Pendalton Integrated Services Limited complete a full CCTV maintenance check, ensuring that all CCTV cameras are
        cleaned and are functioning as they should.
    </p>
    <p>
        Here at Pendalton Integrated Services Limited we have created a recognized track record in providing a range of
        flexible, cost effective CCTV systems and solutions to address your specific security surveillance needs. Our
        trained team has many years experience within this industry; helping our customers to find the best security
        cameras and other CCTV gadgets to keep their premises secure.
    </p>
    <p>
        Our CCTV system can be viewed remotely anywhere in the world with your iPad, Laptop, iPhone, Android, etc
        We provide and also install CCTV systems to both commercial and domestic sectors throughout Nigeria.
    </p>
</section>
{% endblock content %}