{% extends 'layout.html' %}
{% block content %}

<section class="container products-page flex">
    <aside class="products-page-aside">
        <div class="page-aside latest">
            <ul>
                <li>
                    <a class="" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">CCTV Products <i class="fas fa-angle-down down"></i> </a>
                </li>
                <div class="collapse cstyle" id="collapseExample">
                    <ul>
                    <li> <a href="{{ url_for('products') }}"><strong> Hikvision </strong></a></li>
                    <li> <a href="{{ url_for('CCTV_AnalogCameras') }}"> Hd Analog/Ip Cameras </a></li>
                    <li> <a href="{{ url_for('CCTV_CovertCameras') }}">Covert Cameras</a></li>
                    <li> <a href="{{ url_for('CCTV_DVRS') }}">DVRs</a></li>
                    </ul>
                </div>
                <li><a href="{{ url_for('Pabx_intercom') }}">PABX/Intercom</a></li>
                <li><a href="{{ url_for('Access_Control') }}">Access Control</a></li>
                <li><a href="{{ url_for('Fire_Alarm') }}" style="color: #08073A; text-decoration: underline;">Fire / Burglary Alarm</a></li>
                <li><a href="{{ url_for('Inverter_SolarSystem') }}">Inverter & Solar System</a></li>
                <li class="text_change"><a href="{{ url_for('Permitter') }}">Permitter Fencing</a></li>
            </ul>
        </div>
    </aside>
    <div class="products-page-main">
        <div class="page-main flex">
            <div class="product-1">
                <a href="{{ url_for('product_inquiry') }}">
                    <img src="../static/images/image 210.png" alt="">
                </a>
            </div>
            <div class="product-1">
                <a href="{{ url_for('product_inquiry') }}">
                    <img src="../static/images/image 211.png" alt="">
                </a>
            </div>
        </div>
        <div class="page-main flex">
            <div class="product-1">
                <a href="{{ url_for('product_inquiry') }}">
                    <img src="../static/images/image 215.png" alt="">
                </a>
            </div>
            <div class="product-1">
                <a href="{{ url_for('product_inquiry') }}">
                    <img src="../static/images/image 212.png" alt="">
                </a>
            </div>
        </div>
        <div class="page-main flex">
            <div class="product-1">
                <a href="{{ url_for('product_inquiry') }}">
                    <img src="../static/images/image 216.png" alt="">
                </a>
            </div>
            <div class="product-1">
                <a href="{{ url_for('product_inquiry') }}">
                    <img src="../static/images/image 213.png" alt="">
                </a>
            </div>
        </div>
        <div class="page-main flex">
            <div class="product-1">
                <a href="{{ url_for('product_inquiry') }}">
                    <img src="../static/images/image 214.png" alt="">
                </a>
            </div>
            <div class="product-1">
                <a href="{{ url_for('product_inquiry') }}">
                    <img src="../static/images/image 220.png" alt="">
                </a>
            </div>
        </div>
    </div>
</section>


<section class="product-interest">
    <div class="container">
        <h1>Products you might be interest in</h1>
        <div class="product-interest-image flex">
            <div class="owl-carousel owl-theme owl-loaded">
                <div class="owl-stage-outer">
                    <div class="owl-stage product-interest-image">
                        <div class="owl-item"><img src="../static/images/image 54.png" alt=""></div>
                        <div class="owl-item"><img src="../static/images/image 66.png" alt=""></div>
                        <div class="owl-item"><img src="../static/images/image 30.png" alt=""></div>
                    </div>
                </div>
                <div class="owl-nav">
                    <div class="owl-prev"></div>
                    <div class="owl-next"></div>
                </div>
                <div class="owl-dots">
                    <div class="owl-dot active"><span></span></div>
                    <div class="owl-dot"><span></span></div>
                    <div class="owl-dot"><span></span></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container product-interest-text">
    <p>
        Our reputation of installing successful fire/burglary alarm system for multinational companies as well as individuals, rate us amongst the best in the area of security management services in Nigeria.
    </p>
    <p>
        We have attained this preferred rank service since; we understand our clients' needs and constantly develop unique and exciting solutions that allow us to consistently go beyond expectations.
    </p>
    <p>
        Pendalton Integrated Services Limited is committed to the highest standards of service. We believe that security is a serious task and an important responsibility. The best security deploys adaptable solutions to address dynamic challenges and to counter reasonably predictable risks
    </p>
    <p>
        Our company provides fire alarm, burglary alarm and access control systems that provide a safe and secure environment in which your staff and visitors can trust.
    </p>
    <p>
        We provide a quality level of service to all of our customers.
    </p>
</section>
{% endblock content %}