{% extends 'layout.html' %}
{% block content %}
<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active img-gradient">
            <img src="../static/images/image 2.png" class="d-block w-100 image" alt="...">
            <div class="carousel-caption d-md-block">
                <h5> <strong> Pendalaton </strong>  </h5>
                <h5 class="h">Integrated Services</h5>
                <p>Inspiring Innovation and Discovery, <br> Security Solutions Starts Here.</p>
                <button class="btn">Get Quote</button>
            </div>
        </div>
    </div>
</div>

<section class="container services" id="services">
    <h1>Our Services</h1>

    <div class="service-items">
        <div class=" ser-1 flex">
            <div class="service-item-card"><a href="{{ url_for('products') }}">
                    <img src="../static/images/ESWE4zJrHV 3.jpg" alt="cctv surveillance">
                    <p>CCTV SURVEILLANCE</p>
                </a>
            </div>
            <div class="service-item-card"><a href="{{ url_for('Pabx_intercom') }}">
                    <img src="../static/images/image 4.jpg" alt="pabx/intercom">
                    <p>PABX / INTERCOM </p>
                </a>
            </div>
            <div class="service-item-card"><a href="{{ url_for('Access_Control') }}">
                    <img src=" ../static/images/image 12.jpg" alt="access control">
                    <p>ACCESS CONTROL</p>
                </a>
            </div>
        </div>
        <div class=" ser-2 flex">
            <div class="service-item-card"><a href="{{ url_for('Fire_Alarm') }}">
                    <img src="../static/images/image 6.jpg" alt="fire/burglary alarm">
                    <p>FIRE / BURGLARY ALARM </p>
                </a>
            </div>
            <div class="service-item-card"><a href="{{ url_for('Inverter_SolarSystem') }}">
                    <img src="../static/images/image 13.jpg" alt="inverter & solar system">
                    <p>INVERTER & SOLAR SYSTEM</p>
                </a>
            </div>
            <div class="service-item-card"><a href="{{ url_for('Permitter') }}">
                    <img src="../static/images/image 14.jpg" alt="permiter fencing">
                    <p>PERMITER FENCING</p>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="container products">
    <div>
        <h1>With Pendalton Products</h1>
        <div class="product-container">
            <div>
                <div class="prod-1 flex">
                    <div class="product-item">
                        <div class="product-img">
                            <img src="../static/images/Group 37.png" class="products-image" alt="">
                        </div>
                        <div class="product-text">
                            <h3>Scalable to Growing Needs</h3>
                            <p>Our products are capable of serving SMEs from 20 to 2,000 users and grows with the pace
                                of your
                                business as you add new users or locations. You can trust in our products to take care
                                of your
                                changing business communication needs and enjoy increased efficiency.</p>
                        </div>
                    </div>
                    <div class="product-item">
                        <div class="product-img">
                            <img src="../static/images/Group 29.png" class="products-image" alt="">
                        </div>
                        <div class="product-text">
                            <h3>Managed from a Distance</h3>
                            <p>Regardless of your location, you can remotely manage and automatically monitor your
                                systems with
                                the
                                remote management tool, which proactively identifies and instantly notifies potential
                                problems
                                before they cause any system issues and business disruption.</p>
                        </div>
                    </div>
                </div>
                <div class=" prod-2 flex">
                    <div class="product-item">
                        <div class="product-img">
                            <img src="../static/images/Group 31.png" class="products-image" alt="">
                        </div>
                        <div class="product-text">
                            <h3>Compatible with Current Infrastructure</h3>
                            <p>Our products are fully interoperable with mainstream IP phones, such as Yealink, Snom,
                                and
                                Fanvil,
                                allowing for a seamless migration without sacrificing prior investment.</p>
                        </div>
                    </div>
                    <div class="product-item">
                        <div class="product-img">
                            <img src="../static/images/Group 30.png" class="products-image" alt="">
                        </div>
                        <div class="product-text">
                            <h3>Secured from Hacks and Attacks</h3>
                            <p>Our products have strong built-in anti-hacking mechanisms to mitigate security threats
                                and
                                safeguard
                                your business communication, including incorporated firewall, IP auto defense system,
                                blacklist&whitelist, as well as event notification for the security audit.</p>
                        </div>
                    </div>
                </div>
            </div>
</section>

<section class="comprehensive">
    <div class="container comp">
        <h1>Comprehensive Solutions for Various Verticals and Scenarios</h1>
        <div class="comprehensive-all flex">
            <div class="comprehensive-text">
                <img src="../static/images/Group 10.png" alt="">
                <h3>Healthcare</h3>
                <p>Streamlined business process, Operational efficiency.</p>
            </div>
            <div class="comprehensive-text">
                <img src="../static/images/ic_round-school.png" alt="">
                <h3>Education</h3>
                <p>Slashed cost, Better call management.</p>
            </div>
            <div class="comprehensive-text">
                <img src="../static/images/Group 36.png" alt="">
                <h3>Transportation</h3>
                <p>Mobile-driven workforce, Enhanced customer, satisfaction</p>
            </div>
            <div class="comprehensive-text">
                <img src="../static/images/Group 9.png" alt="">
                <h3>CRM Integration</h3>
                <p>Extended functionality, Greater productivity </p>
            </div>
        </div>
    </div>
</section>

<section class="container testimonial">
    <div class="container-fluid px-3 px-sm-5 my-5 text-center">
        <h4 class="mb-5 font-weight-bold">What Our Client Say</h4>
        <div class="owl-carousel owl-theme">
            <div class="item first prev">
                <div class="card border-0 py-3 px-4">
                    <p class="content mb-2 mx-2">I would recommend PENDALATON INTEGRATED SERVICES LTD, without
                        reservation.</p>
                    <h6 class="mb-3 ml-auto">-CEO, Loisonell Ventures</h6>
                </div>
            </div>
            <div class="item show">
                <div class="card border-0 py-3 px-4">
                    <p class="content mb-2 mx-2">Without exception, the completion of our project has been very positive
                        and full of commendation for the installation and configuration of our cameras. We would be
                        grateful if you could pass on our thanks for a great job. We say well done, to all Pendalton
                        team who took part in the project.</p>
                    <h6 class="mb-3 ml-auto">-Rutotech International Limited</h6>
                </div>
            </div>
            <div class="item next">
                <div class="card border-0 py-3 px-4">
                    <p class="content mb-2 mx-2">We have received positive feedback from PENDALATON INTEGRATED SERVICES
                        LTD personnel at all levels on both the solution developed and their overall performance which
                        is something to be proud of.</p>
                    <h6 class="mb-3 ml-auto">-Nevadal Hotel & Suites</h6>
                </div>
            </div>
            <div class="item next">
                <div class="card border-0 py-3 px-4">
                    <p class="content mb-2 mx-2">I am extremely impressed and am saying a big thank you, for completion
                        of this project, you are the only vendor that executed this contract positively. On behalf of me
                        and my colleagues we really appreciate your company and entire team that participate in our
                        project.</p>
                    <h6 class="mb-3 ml-auto">-CSO, Emir Palace Zaria</h6>
                </div>
            </div>
            <div class="item next">
                <div class="card border-0 py-3 px-4">
                    <p class="content mb-2 mx-2">Without exception, the completion of our project has been very positive
                        and full of commendation for the installation and configuration of our cameras. We would be
                        grateful if you could pass on our thanks for a great job. We say well done, to all Pendalton
                        team who took part in the project.</p>
                    <h6 class="mb-3 ml-auto">-Rutotech International Limited</h6>
                </div>
            </div>
            <div class="item last">
                <div class="card border-0 py-3 px-4">
                    <p class="content mb-2 mx-2">PENDALTON INTEGRATED SERVICES LTD has been a vendor to Chisco Group for
                        over the years now, and has extremely work to develop a variety of CCTV services for our
                        company. The partnership developed between us is based on a sound working relationship built on
                        mutual trust and sound IT and engineering principles.</p>
                    <h6 class="mb-3 ml-auto">-Chisco Group</h6>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="contact" id="contact">
    <div class="container">
        <h1>Contact us today to get more information</h1>
        <p>We would love to hear from you, send us a message using this form or click on the WhatsApp icon to chat with
            us directly </p>

        <form action="" method="POST">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputFirstName">First Name</label>
                    <input type="text" name="firstname" class="form-control" id="inputFirstName" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputLastName">Last Name</label>
                    <input type="text" name="lastname" class="form-control" id="inputLastName" required>
                </div>
            </div>
            <div class="form-group">
                <label for="inputAddress">E-mail Address</label>
                <input type="email" name="email" class="form-control" id="inputAddress" required>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputPhone">Phone Number</label>
                    <input type="text" name="phone" class="form-control" id="inputPhone">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputCompany">Company(Optional)</label>
                    <input type="text" name="company" class="form-control" id="inputCompany">
                </div>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Additional Description(Optional)</label>
                <textarea class="form-control" name="message" id="exampleFormControlTextarea1" rows="4"></textarea>
            </div>
            <button type="submit" class="btn">Submit</button>
        </form>
    </div>
</section>
{% endblock content %}