{% extends 'layout.html' %}
{% block content %}

<section class="container products-page flex">
    <aside class="products-page-aside">
        <div class="page-aside latest">
            <ul>
                <li>
                    <a class="" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">CCTV Products <i class="fas fa-angle-down down"></i> </a>
                </li>
                <div class="collapse cstyle" id="collapseExample">
                    <ul>
                    <li> <a href="{{ url_for('products') }}"><strong> Hikvision </strong></a></li>
                    <li> <a href="{{ url_for('CCTV_AnalogCameras') }}"> Hd Analog/Ip Cameras </a></li>
                    <li> <a href="{{ url_for('CCTV_CovertCameras') }}">Covert Cameras</a></li>
                    <li> <a href="{{ url_for('CCTV_DVRS') }}">DVRs</a></li>
                    </ul>
                </div>
                <li><a href="{{ url_for('Pabx_intercom') }}">PABX/Intercom</a></li>
                <li><a href="{{ url_for('Access_Control') }}">Access Control</a></li>
                <li><a href="{{ url_for('Fire_Alarm') }}">Fire / Burglary Alarm</a></li>
                <li><i class="fa fa-angle-right" aria-hidden="true"></i><a href="{{ url_for('Inverter_SolarSystem') }}" style="color: #08073A; text-decoration: underline;">Inverter & Solar System</a></li>
                <li><a href="{{ url_for('Permitter') }}">Permitter Fencing</a></li>
            </ul>
        </div>
    </aside>
    <div class="products-page-main flex">
        <div class="page-main a1 flex">
            <div class="product-1">
                <a href="{{ url_for('product_inquiry') }}">
                    <img src="../static/images/image 219.png" alt="">
                </a>
            </div>
            <div class="product-1">
                <a href="{{ url_for('product_inquiry') }}">
                    <img src="../static/images/image 205.png" alt="">
                </a>
            </div>
        </div>
        <div class="page-main flex">
            <div class="product-1">
                <a href="{{ url_for('product_inquiry') }}">
                    <img src="../static/images/image 139.png" alt="">
                </a>
            </div>
            <div class="product-1">
                <a href="{{ url_for('product_inquiry') }}">
                    <img src="../static/images/image 154.png" alt="">
                </a>
            </div>
        </div>
        <div class="page-main flex">
            <div class="product-1">
                <a href="{{ url_for('product_inquiry') }}">
                    <img src="../static/images/image 140.png" alt="">
                </a>
            </div>
            <div class="product-1">
                <a href="{{ url_for('product_inquiry') }}">
                    <img src="../static/images/image 201.png" alt="">
                </a>
            </div>
        </div>
        <div class="page-main">
            <div class="product-1">
                <a href="{{ url_for('product_inquiry') }}">
                    <img src="../static/images/image 218.png" alt="">
                </a>
            </div>
        </div>
    </div>
</section>


<section class="product-interest">
    <div class="container">
        <h1>Products you might be interested in</h1>
        <div class="product-interest-image flex">
            <div class="owl-carousel owl-theme owl-loaded">
                <div class="owlcar">
                    <div class="owl-stage-outer">
                        <div class="owl-stage product-interest-image">
                            <!-- <div class="owl-item"><a href="{{ url_for('Inverter_SolarSystem') }}"><img src="../static/images/image 219.png" alt=""></a></div> -->
                            <div class="owl-item"><a href="{{ url_for('Access_Control') }}"><img src="../static/images/image 54.png" alt=""></a></div>
                            <div class="owl-item"><a href="{{ url_for('products') }}"><img src="../static/images/image 16.png" alt=""></a></div>
                            <div class="owl-item"><a href="{{ url_for('Pabx_intercom') }}"><img src="../static/images/image 197.png" alt=""></a></div>
                            <div class="owl-item"><a href="{{ url_for('CCTV_DVRS') }}"><img src="../static/images/image 199.png" alt=""></a></div>
                            <div class="owl-item"><a href="{{ url_for('Permitter') }}"><img src="../static/images/image 165.png" alt=""></a></div>
                            <div class="owl-item"><a href="{{ url_for('Fire_Alarm') }}"><img src="../static/images/image 221-1.png" alt=""></a></div>
                        </div>
                    </div>
                </div>
                <div class="owl-nav">
                    <div class="owl-prev"></div>
                    <div class="owl-next"></div>
                </div>
                <div class="owl-dots">
                    <div class="owl-dot active"><span></span></div>
                    <div class="owl-dot"><span></span></div>
                    <div class="owl-dot"><span></span></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container product-interest-text">
    <p>
        The success of a DC to AC power inverter installation depends mainly on the methods and materials used for the installation.
    </p>
    <p>
        Low DC input voltage inverters (12 or 24 Volts DC) require high DC input currents.  For example, to provide a service of 15 Amperes at 120 Volts AC (1800 Watts) from a 12 Volt battery, the DC current will approach 180 Amperes!  How can we supply such a high current to the inverter safely and efficiently?
    </p>
    <p>
        We provide Inverter installation services in Lagos, and other parts of Nigeria. We also are also one of the profound Inverter installation company in Lagos and other parts of Nigeria. We also offer very affordable Inverter systems in Lagos and other parts of Nigeria.
    </p>
</section>
{% endblock content %}