{% extends 'layout.html' %}
{% block content %}

<section class="container products-page flex">
    <aside class="products-page-aside">
        <div class="page-aside latest">
            <ul>
                <li>
                    <a class="" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">CCTV Products <i class="fas fa-angle-down down"></i> </a>
                </li>
                <div class="collapse cstyle" id="collapseExample">
                    <ul>
                    <li> <a href="{{ url_for('products') }}"><strong> Hikvision </strong></a></li>
                    <li> <a href="{{ url_for('CCTV_AnalogCameras') }}"> Hd Analog/Ip Cameras </a></li>
                    <li> <a href="{{ url_for('CCTV_CovertCameras') }}">Covert Cameras</a></li>
                    <li> <a href="{{ url_for('CCTV_DVRS') }}">DVRs</a></li>
                    </ul>
                </div>
                <li><i class="fa fa-angle-right" aria-hidden="true"></i><a href="{{ url_for('Pabx_intercom') }}" style="color: #08073A; text-decoration: underline;">PABX/Intercom</a></li>
                <li><a href="{{ url_for('Access_Control') }}">Access Control</a></li>
                <li><a href="{{ url_for('Fire_Alarm') }}">Fire / Burglary Alarm</a></li>
                <li><a href="{{ url_for('Inverter_SolarSystem') }}">Inverter & Solar System</a></li>
                <li><a href="{{ url_for('Permitter') }}">Permitter Fencing</a></li>
            </ul>
        </div>
    </aside>

    <div class="products-page-main flex">
        <div class="page-main flex">
            <div class="product-2">
                <a href="{{ url_for('product_inquiry') }}">
                    <img src="../static/images/image 59.png" alt="">
                </a>
            </div>
            <div class="product-2">
                <a href="{{ url_for('product_inquiry') }}">
                    <img src="../static/images/image 66.png" alt="">
                </a>
            </div>
            <div class="product-2">
                <a href="{{ url_for('product_inquiry') }}">
                    <img src="../static/images/image 64.png" alt="">
                </a>
            </div>
        </div>
        <div class="page-main flex">
            <div class="product-2">
                <a href="{{ url_for('product_inquiry') }}">
                    <img src="../static/images/image 198.png" alt="">
                </a>
            </div>
            <div class="product-2">
                <a href="{{ url_for('product_inquiry') }}">
                    <img src="../static/images/image 72.png" alt="">
                </a>
            </div>
            <div class="product-2">
                <a href="{{ url_for('product_inquiry') }}">
                    <img src="../static/images/image 197.png" alt="">
                </a>
            </div>
        </div>
        <div class="page-main flex">
            <div class="product-2">
                <a href="{{ url_for('product_inquiry') }}">
                    <img src="../static/images/image 199.png" alt="">
                </a>
            </div>
            <div class="product-2">
                <a href="{{ url_for('product_inquiry') }}">
                    <img src="../static/images/image 207.png" alt="">
                </a>
            </div>
        </div>
    </div>
</section>


<section class="product-interest">
    <div class="container">
        <h1>Products you might be interested in</h1>
        <div class="product-interest-image flex">
            <div class="owl-carousel owl-theme owl-loaded">
                <div class="owlcar">
                    <div class="owl-stage-outer">
                        <div class="owl-stage product-interest-image">
                            <div class="owl-item"><a href="{{ url_for('Inverter_SolarSystem') }}"><img src="../static/images/image 219.png" alt=""></a></div>
                            <div class="owl-item"><a href="{{ url_for('Access_Control') }}"><img src="../static/images/image 54.png" alt=""></a></div>
                            <div class="owl-item"><a href="{{ url_for('products') }}"><img src="../static/images/image 16.png" alt=""></a></div>
                            <!-- <div class="owl-item"><a href="{{ url_for('Pabx_intercom') }}"><img src="../static/images/image 197.png" alt=""></a></div> -->
                            <div class="owl-item"><a href="{{ url_for('CCTV_DVRS') }}"><img src="../static/images/image 199.png" alt=""></a></div>
                            <div class="owl-item"><a href="{{ url_for('Permitter') }}"><img src="../static/images/image 165.png" alt=""></a></div>
                            <div class="owl-item"><a href="{{ url_for('Fire_Alarm') }}"><img src="../static/images/image 221-1.png" alt=""></a></div>
                        </div>
                    </div>
                </div>
                <div class="owl-nav">
                    <div class="owl-prev"></div>
                    <div class="owl-next"></div>
                </div>
                <div class="owl-dots">
                    <div class="owl-dot active"><span></span></div>
                    <div class="owl-dot"><span></span></div>
                    <div class="owl-dot"><span></span></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container product-interest-text">
    <p>
        We install, repair and service all kinds of residential and business intercom systems, what differentiates us from competitors is the unique approach of delivering a complete security solution not just selling entry intercom panels.
    </p>
    <p>
        Our team always do their best to choose and install the most appropriate and cost-effective solutions for your company or home. 
    </p>
    <p>
        We not only stock the most reliable intercom brands such as Panasonic but also focus on aesthetic point of view of installed intercom systems and everyday convenience of using your intercom.
    </p>
    <p>
        Our skilled and trained team possesses all the necessary knowledge and skill sets and to work with intercom panels from most of major brands.
    </p>
    <p>
        Our company install, repair and service commercial and residential intercom systems in Lagos, and throughout Nigeria we specialize on multi-tenant intercom systems, commercial and business intercoms, telephone entry systems, multi-unit condo buzzers, audio and video intercoms, wired and wireless intercoms.
    </p>
    <p>
        We provide Pabx/Intercom installation services in Lagos, and other parts of Nigeria. We also are also one of the profound Pabx installation company in Lagos and other parts of Nigeria. We also offer very affordable Pabx systems in Lagos and other parts of Nigeria.
    </p>
</section>
{% endblock content %} 