{% extends 'layout.html' %}
{% block content %}

<section class="container products-page flex">
    <aside class="products-page-aside">
        <div class="page-aside latest">
            <ul>
                <li>
                    <a class="" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">CCTV Products <i class="fas fa-angle-down down"></i> </a>
                </li>
                <div class="collapse cstyle" id="collapseExample">
                    <ul>
                    <li> <a href="{{ url_for('products') }}"><strong> Hikvision </strong></a></li>
                    <li> <a href="{{ url_for('CCTV_AnalogCameras') }}"> Hd Analog/Ip Cameras </a></li>
                    <li> <a href="{{ url_for('CCTV_CovertCameras') }}">Covert Cameras</a></li>
                    <li> <a href="{{ url_for('CCTV_DVRS') }}">DVRs</a></li>
                    </ul>
                </div>
                <li><a href="{{ url_for('Pabx_intercom') }}">PABX/Intercom</a></li>
                <li><a href="{{ url_for('Access_Control') }}">Access Control</a></li>
                <li><a href="{{ url_for('Fire_Alarm') }}">Fire / Burglary Alarm</a></li>
                <li><a href="{{ url_for('Inverter_SolarSystem') }}">Inverter & Solar System</a></li>
                <li><i class="fa fa-angle-right" aria-hidden="true"></i><a href="{{ url_for('Permitter') }}" style="color: #08073A; text-decoration: underline;">Permitter Fencing</a></li>
            </ul>
        </div>
    </aside>
    <div class="products-page-main flex">
        <div class="page-main flex">
            <div class="product-1">
                <a href="{{ url_for('product_inquiry') }}">
                    <img src="../static/images/image 202.png" alt="">
                    <p></p>
                </a>
            </div>
            <div class="product-1">
                <a href="{{ url_for('product_inquiry') }}">
                    <img src="../static/images/Group 47.png" alt="">
                    <p></p>
                </a>
            </div>
        </div>
        <div class="page-main flex">
            <div class="product-1">
                <a href="{{ url_for('product_inquiry') }}">
                    <img src="../static/images/Group 45.png" alt="">
                    <p></p>
                </a>
            </div>
            <div class="product-1">
                <a href="{{ url_for('product_inquiry') }}">
                    <img src="../static/images/image 203.png" alt="">
                    <p></p>
                </a>
            </div>
        </div>
        <div class="page-main flex">
            <div class="product-1">
                <a href="{{ url_for('product_inquiry') }}">
                    <img src="../static/images/image 163.png" alt="">
                    <p></p>
                </a>
            </div>
            <div class="product-1">
                <a href="{{ url_for('product_inquiry') }}">
                    <img src="../static/images/image 206.png" alt="">
                    <p></p>
                </a>
            </div>
        </div>
    </div>
</section>


<section class="product-interest">
    <div class="container">
        <h1>Products you might be interest in</h1>
        <div class="product-interest-image flex">
            <div class="owl-carousel owl-theme owl-loaded">
                <div class="owlcar">
                    <div class="owl-stage-outer">
                        <div class="owl-stage product-interest-image">
                            <div class="owl-item"><a href="{{ url_for('Inverter_SolarSystem') }}"><img src="../static/images/image 219.png" alt=""></a></div>
                            <div class="owl-item"><a href="{{ url_for('Access_Control') }}"><img src="../static/images/image 54.png" alt=""></a></div>
                            <div class="owl-item"><a href="{{ url_for('products') }}"><img src="../static/images/image 16.png" alt=""></a></div>
                            <div class="owl-item"><a href="{{ url_for('Pabx_intercom') }}"><img src="../static/images/image 197.png" alt=""></a></div>
                            <div class="owl-item"><a href="{{ url_for('CCTV_DVRS') }}"><img src="../static/images/image 199.png" alt=""></a></div>
                            <!-- <div class="owl-item"><a href="{{ url_for('Permitter') }}"><img src="../static/images/image 165.png" alt=""></a></div> -->
                            <div class="owl-item"><a href="{{ url_for('Fire_Alarm') }}"><img src="../static/images/image 221-1.png" alt=""></a></div>
                        </div>
                    </div>
                </div>
                <div class="owl-nav">
                    <div class="owl-prev"></div>
                    <div class="owl-next"></div>
                </div>
                <div class="owl-dots">
                    <div class="owl-dot active"><span></span></div>
                    <div class="owl-dot"><span></span></div>
                    <div class="owl-dot"><span></span></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container product-interest-text">
    <p>
        We always maintain the maximum engineering standards, thus ensuring a renowned quality of installation, backed up by the same standard of after sales care, making our name the envy of our competitors. Our trained gate engineers are experienced, friendly and will install your gates or barrier system with ease.
    </p>
    <p>
        Pendalton integrated services has developed a range of driveway gates fabricated using both steel and Iron, stainless designs suitable for domestic and commercial properties.
    </p>
    <p>
        Our teams are all trained to a high engineering standard. Our engineers take great pride in providing all our clientele, both domestic and commercial, with an expert, efficient and complete gate and barrier installation service backed by an excellent after sales service.
    </p>
    <p>
        We use computerization products that have been manufactured to the highest engineering standards. Our engineers incorporate new technologies and design innovations in all of our gate installations; this ensures we always provide the best service possible.
    </p>
    <p>
        Our team of skilled engineers has a vast technical knowledge and experience of automatic gates, sliding gates and barrier systems. We are able to competently work on any installation or access control system from any manufacturer or installer.
    </p>
</section>
{% endblock content %}