{% extends 'layout.html' %}
{% block content %}

<section class="container products-page flex">
    <aside class="products-page-aside">
        <div class="page-aside">
            <ul>
                <h3>CCTV PRODUCTS</h3>
                <li>Hikvision</li>
                <li>Hd Analog Cameras</li>
                <li>Ip Cameras</li>
                <li>Covert Cameras</li>
                <li>DVRs</li>
            </ul>
        </div>
    </aside>
    <div class="products-page-main flex">
        <div>
            <div class="product-1">
                <a href="{{ url_for('product_inquiry') }}">
                    <img src="../static/images/image 29.png" alt="">
                    <p>Hikvision DS-2CE16DOT-IRE 1080p POC Bullet Camera</p>
                </a>
            </div>
            <div class="product-2">
                <a href="{{ url_for('product_inquiry') }}">
                    <img src="../static/images/image 16.png" alt="">
                    <p>DS-2CD2043G0-I 4 MP IR Fixed Bullet Network Camera</p>
                </a>
            </div>
            <div class="product-3">
                <a href="{{ url_for('product_inquiry') }}">
                    <img src="../static/images/image 17.png" alt="">
                    <p>DS-2CD1023G0-I 2 MP IR Fixed Bullet Network
                </a>
                Camera</p>
            </div>
            <div class="product-4">
                <a href="{{ url_for('product_inquiry') }}">
                    <img src="../static/images/image 26.png" alt="">
                    <p>HIKVISION (720P) Turbo Dome DS-2CE56C0T-IR METAL</p>
                </a>
            </div>
        </div>
        <div>
            <div>
                <a href="{{ url_for('product_inquiry') }}">
                    <img src="../static/images/image 23.png" alt="">
                    <p>Hikvision SPEED DOME TURBO HD 4 Inch PTZ CAMERA DS-</p>
                </a>
            </div>
            <div>
                <a href="{{ url_for('product_inquiry') }}">
                    <img src="../static/images/image 20.png" alt="">
                    <p>Hikvision DS-2CE12DOT-PIRXF Turbo HD Bullet
                </a>
                PIR Siren</p>
            </div>
            <div>
                <a href="{{ url_for('product_inquiry') }}">
                    <img src="../static/images/image 22.png" alt="">
                    <p>Hikvision HD720P Vari-focal IR Bullet Camera DS-2CE16C2T-</p>
                </a>
            </div>
            <div>
                <a href="{{ url_for('product_inquiry') }}">
                    <img src="../static/images/image 25.png" alt="">
                    <p>Hikvision Turbo 1080p HD Vari Focal Dome
                </a>
                Camera DS-</p>
            </div>
        </div>
        <div>
            <div>
                <a href="{{ url_for('product_inquiry') }}">
                    <img src="../static/images/image 24.png" alt="">
                    <p>Hikvision HD1080P EXIR Bullet Camera DS-2CE16D0T-IT5</p>
                </a>
            </div>
            <div>
                <a href="{{ url_for('product_inquiry') }}">
                    <img src="../static/images/image 20.png" alt="">
                    <p>Hikvision DS-2CE12DOT-PIRXF Turbo HD Bullet
                </a>
                PIR Siren</p>
            </div>
            <div>
                <a href="{{ url_for('product_inquiry') }}">
                    <img src="../static/images/image 22(1).png" alt="">
                    <p>Hikvision HD720P Vari-focal IR Bullet Camera DS-2CE16C2T-</p>
                </a>
            </div>
            <div>
                <a href="{{ url_for('product_inquiry') }}">
                    <img src="../static/images/image 25(1).png" alt="">
                    <p>Hikvision Turbo 1080p HD Vari Focal Dome
                </a>
                Camera DS-</p>
            </div>
        </div>
        <div>
            <div>
                <a href="{{ url_for('product_inquiry') }}">
                    <img src="../static/images/image 19.png" alt="">
                    <p>Hikvision DS-2CE16DOT-IRE 1080p POC Bullet
                </a>
                Camera</p>
            </div>
            <div>
                <a href="{{ url_for('product_inquiry') }}">
                    <img src="../static/images/image 20(2).png" alt="">
                    <p>Hikvision DS-2CE12DOT-PIRXF Turbo HD Bullet
                </a>
                PIR Siren</p>
            </div>
            <div>
                <a href="{{ url_for('product_inquiry') }}">
                    <img src="../static/images/image 22.png" alt="">
                    <p>Hikvision HD720P Vari-focal IR Bullet Camera DS-2CE16C2T-</p>
                </a>
            </div>
            <div>
                <a href="{{ url_for('product_inquiry') }}">
                    <img src="../static/images/image 25(2).png" alt="">
                    <p>Hikvision Turbo 1080p HD Vari Focal Dome
                </a>
                Camera DS-</p>
            </div>
        </div>
    </div>
</section>


<section class="product-interest">
    <div class="container">
        <h1>Products you might be interest in</h1>
        <div class="product-interest-image flex">
            <div><img src="../static/images/Rectangle 35(1).png" alt=""></div>
            <div><img src="../static/images/Rectangle 35(1).png" alt=""></div>
            <div><img src="../static/images/Rectangle 35(1).png" alt=""></div>
        </div>
    </div>
</section>

<section class="container product-interest-text">
    <p>
        CCTV has grown intensely over the last few years due to the helpful impact that it has had on both public and
        business organizations.
    </p>
    <p>
        Apart from CCTV installation Pendalton Integrated Services Limited, have now moved to both sales of CCTV
        products and maintenance's. We also now work extensively with IP CCTV cameras and CCTV mobile surveillance. We
        offer a variety of services from supplies and CCTV installation to repairs of CCTV systems nationwide.
    </p>
    <p>
        Our team are trained to a high standard and are able to provide CCTV installations, repairs and maintenance to
        many brands of CCTV systems; providing low cost solutions for any upgrades or repairs to faulty systems.
        Pendalton Integrated Services Limited complete a full CCTV maintenance check, ensuring that all CCTV cameras are
        cleaned and are functioning as they should.
    </p>
    <p>
        Here at Pendalton Integrated Services Limited we have created a recognized track record in providing a range of
        flexible, cost effective CCTV systems and solutions to address your specific security surveillance needs. Our
        trained team has many years experience within this industry; helping our customers to find the best security
        cameras and other CCTV gadgets to keep their premises secure.
    </p>
    <p>
        Our CCTV system can be viewed remotely anywhere in the world with your iPad, Laptop, iPhone, Android, etc
        We provide and also install CCTV systems to both commercial and domestic sectors throughout Nigeria.
    </p>
</section>
{% endblock content %}