{% extends 'layout.html' %}
{% block content %}
<section class="product-in flex">
    <div class="product-in-main container">
        <h1>Product Inquiry</h1>
        <p>Got questions about Our Product ? Would you like to discuss a potential
    
            purchase ? Kindly complete this short form, and we will have someone contact
    
            you with more details. Or kindly click on the WhatsApp icon to contact us. </p>
    </div>
    
    <aside class="product-in-aside">
        <img src="../static/images/image 158.png" alt="">
    </aside>
</section>


<section class="container">
    <form action="{{url_for('send_message')}}" method="POST" class="form-bg">
        <h3>Drop a Message</h3>

        <div class="form-group group1 flex">
            <label for="firstname">First Name</label>
            <input type="text" name="firstname" class="form-control" id="firstname">
        </div>
        <div class="form-group group1 flex">
            <label for="lastname">Last Name</label>
            <input type="text" name="lastname" class="form-control" id="lastname">
        </div>
        <div class="form-group group1 flex">
            <label for="inputAddress">E-mail Address</label>
            <input type="email" name="email" class="form-control" id="inputAddress">
        </div>
        <div class="form-group group1 flex">
            <label for="phone">Phone Number</label>
            <input type="text" name="phone" class="form-control" id="phone">
        </div>
        <div class="form-group group1 flex">
            <label for="company">Company(Optional)</label>
            <input type="text" name="company" class="form-control" id="company">
        </div>
        <div class="form-group group1 flex">
            <label for="exampleFormControlTextarea1">Additional Note(Include Product Name)</label>
            <textarea class="form-control" name="message" id="exampleFormControlTextarea1" rows="4"></textarea>
        </div>
        <button type="submit" class="btn">Submit</button>
    </form>
</section>

{% endblock content %}